extends ../layout/main

block variables
  - var title = 'Keep Breathing';
  - var description = 'Description';
  - var pageClass = 'page--index';

block content
  .page
    .container
      .circle
      .text
      .pointer-container
        .pointer
    .blocks
      .blocks__ball
      .blocks__wrap

    